---
import Layout from '@/layout/Layout.astro'
import Typewriter from '@/hooks/useTypewriter'
import '@/styles/home.css'
---

<Layout
  title="Where's Midu"
  description="Where's Midu es una p치gina inspirada en 'Where's Waldo"
  mainClass='relative max-w-7xl flex flex-col items-center justify-center gap-y-10 mx-auto p-8'
>
  <header>
    <h1 class='text-7xl tracking-wide'>
      Where&apos;s... <Typewriter client:load text='midudev' speed={200} />
    </h1>
  </header>

  <p class='text-xs italic'>
    Las im치genes del juego est치n dise침adas por IA, por lo que su resultado en
    facciones es limitada.
  </p>
</Layout>
