---
import Layout from '@/layout/Layout.astro'
import Typewriter from '@/hooks/useTypewriter'
import Cards from '@/sections/Cards.astro'
import Smoke from '@/assets/svgs/Smoke.astro'
import Ghosts from '@/components/Ghosts.astro'
import LangSwitcher from '@/components/LangSwitcher.astro'
import Footer from '@/sections/Footer.astro'
import { useTranslations } from 'src/i18n/utils'
import { type PageLanguages } from 'src/types.d'
import '@/styles/home.css'

export function getStaticPaths() {
  return [{ params: { lang: 'en' } }, { params: { lang: 'es' } }]
}
const { lang } = Astro.params as { lang: PageLanguages }
const t = useTranslations(lang)
---

<Layout
  title="Where's Midu"
  description="Where's Midu es una página inspirada en 'Where's Waldo"
  mainClass='relative max-w-7xl flex flex-col items-center justify-center gap-y-10 mx-auto p-8'
>
  <Smoke />
  <!-- <Ghosts /> -->
  <header class='relative w-full flex items-center'>
    <h1 class='text-7xl tracking-wide flex-grow text-center'>
      Where&apos;s... <Typewriter client:load text='midudev' speed={200} />
    </h1>
    <LangSwitcher />
  </header>

  <p class='text-sm italic text-[#d72e2e]'>
    {t('home.alert')}
  </p>

  <Cards />

  <Footer />
</Layout>
