---
import Card from '@/components/Card.astro'
---

<section class='grid grid-cols-2 gap-10'>
  <Card
    character={'Midudev'}
    description={`se encuentra en una batalla campal entre los fanáticos de React y los entusiastas de Angular. 
    Pero como mago de JavaScript, intentará escapar de toda polémica. ¿Sobrevirá a la batalla? 
    ¡Encuéntralo antes de que lo funen!
    `}
    imageUrl1={'./assets/imgs/cards/midu1.webp'}
    imageUrl2={'./assets/imgs/cards/midu2.webp'}
  />

  <Card
    character={'Altman'}
    description={`está buscando ansiosamente financiamiento para crear Chat-GPT5, pero para ello, se ha 
    convertido en una momia más para pasar desapercibido con otras viejas momias con mucho
    dinero. ¿Dónde estará Altman?
  `}
    imageUrl1={'./assets/imgs/cards/altman1.webp'}
    imageUrl2={'./assets/imgs/cards/altman2.webp'}
  />

  <Card
    character={'PHP'}
    description={`está en paradero desconocido, algunos dicen que
    está muerto y otros más vivo que nunca. Búscalo en el último lugar visto, en el cementerio...
  `}
    imageUrl1={'./assets/imgs/cards/php1.webp'}
    imageUrl2={'./assets/imgs/cards/php2.webp'}
  />

  <Card
    character={'Lady Gaga'}
    description={`se ha vuelto a transformar por 4931 vez. Yo sigo sin saber reconocerla, 
    pero dicen que se ha convertido en una vampira. Encuéntrala antes de que vuelva a cambiar de look 
    y pídele un autógrafo de mi parte.
  `}
    imageUrl1={'./assets/imgs/cards/gaga1.webp'}
    imageUrl2={'./assets/imgs/cards/gaga2.webp'}
  />

  <Card
    character={'Colby'}
    description={`lleva más de 837 horas despierto contestando las
    preguntas del foro de Discord y se ha convertido en un zombie. 
    Encuentrálo, dale las gracias por toda su atención y mándalo a descansar.
  `}
    imageUrl1={'./assets/imgs/cards/colby1.webp'}
    imageUrl2={'./assets/imgs/cards/colby2.webp'}
  />
</section>
