---
import type { PageLanguages } from 'src/types'
import Card from '@/components/Card.astro'
import { useTranslations } from 'src/i18n/utils'

const { lang } = Astro.params as { lang: PageLanguages }
const t = useTranslations(lang)
---

<section class='grid grid-cols-2 gap-10'>
  <Card
    character={'Midudev'}
    description={t('home.card.midu')}
    imageUrl1={'./assets/imgs/cards/midu1.webp'}
    imageUrl2={'./assets/imgs/cards/midu2.webp'}
  />

  <Card
    character={'Altman'}
    description={t('home.card.altman')}
    imageUrl1={'./assets/imgs/cards/altman1.webp'}
    imageUrl2={'./assets/imgs/cards/altman2.webp'}
  />

  <Card
    character={'PHP'}
    description={t('home.card.php')}
    imageUrl1={'./assets/imgs/cards/php1.webp'}
    imageUrl2={'./assets/imgs/cards/php2.webp'}
  />

  <Card
    character={'Lady Gaga'}
    description={t('home.card.gaga')}
    imageUrl1={'./assets/imgs/cards/gaga1.webp'}
    imageUrl2={'./assets/imgs/cards/gaga2.webp'}
  />

  <Card
    character={'Colby'}
    description={t('home.card.colby')}
    imageUrl1={'./assets/imgs/cards/colby1.webp'}
    imageUrl2={'./assets/imgs/cards/colby2.webp'}
  />
</section>
