---
import { ViewTransitions } from 'astro:transitions'

export interface Props {
  title: string
  description: string
  mainClass: string
}

const { title, description, mainClass } = Astro.props
---

<!doctype html>
<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta name='description' content={description} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <main class={mainClass}>
      <slot />
    </main>
  </body>
</html>

<style is:global>
  :root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: 'Bubu Ghost', sans-serif;
    min-height: 100vh;
    max-width: 100vw;
    color: #d1d5db;
    overflow-x: hidden;
    letter-spacing: 0.02rem;
    background: linear-gradient(to bottom, #010101 80%, #6d0007c8 100%);
  }

  @font-face {
    font-family: 'Bubu Ghost';
    src: url('/fonts/bubu-ghost.regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Slimespooky Outline';
    src: url('/fonts/slimespooky.outline.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
</style>
